<div class="bg-gray-100 p-6">
    <div class="flex items-center justify-center h-16">
        <span class="text-black font-bold uppercase">Panel de administracion de Menus</span>
    </div>
    <!-- Botón para agregar -->
    <div class="flex justify-between items-center mb-6">
        <button id="addButton" class="bg-indigo-500 text-white px-4 py-2 rounded" (click)="openModal()">Agregar</button>
    </div>
    <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (keyup)="filtrar()"
        class="border border-gray-300 px-4 py-2 w-2/5 rounded">
    <!-- Tabla -->
    <div class="pt-5"></div>
    <div class="bg-white shadow rounded-lg overflow-hidden h-[700px]">
        <div class="overflow-auto">
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                            Nombre</th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                            Descripcion</th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                            Precio</th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                            Categoria</th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                            Estado</th>

                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                            Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menu of menus | paginate: { itemsPerPage: pageSize, currentPage: page }"
                        [attr.data-id]="menu.id">
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ menu.nombre }}</td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ menu.descripcion }}</td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ menu.precio }}</td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ menu.categoria }}</td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ menu.estado }}</td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <button class="bg-blue-500 text-white px-2 py-1 rounded"
                                (click)="cargar(menu)">Editar</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded"
                                (click)="eliminar(menu)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>


    <!-- Modal -->
    <div *ngIf="showModal" id="modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/4">
            <h2 class="text-2xl mb-4">Datos del menu</h2>
            <form (submit)="onSubmit()">

                <div class="mb-4">
                    <label class="block text-gray-700">Nombre</label>
                    <input type="text" class="w-full border border-gray-300 px-4 py-2 rounded" placeholder="Nombre"
                        name="nombre" [(ngModel)]="menu.nombre">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Descripcion</label>
                    <input type="text" class="w-full border border-gray-300 px-4 py-2 rounded" placeholder="Descripcion"
                        name="descripcion" [(ngModel)]="menu.descripcion">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Precio</label>
                    <input type="number" class="w-full border border-gray-300 px-4 py-2 rounded" name="precio"
                        placeholder="Precio" [(ngModel)]="menu.precio">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700">Categoria</label>
                    <select class="w-full border border-gray-300 px-4 py-2 rounded" name="categoria"
                        [(ngModel)]="menu.categoria">
                        <option value="">Seleccione una categoría</option>
                        <option value="entrantes">Entrantes</option>
                        <option value="platos_principales">Platos Principales</option>
                        <option value="postres">Postres</option>
                        <option value="bebidas">Bebidas</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Estado</label>
                    <select class="w-full border border-gray-300 px-4 py-2 rounded" name="estado"
                        [(ngModel)]="menu.estado">
                        <option value="">Seleccione un estado</option>
                        <option value="disponible">Disponible</option>
                        <option value="no_disponible">No disponible</option>
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeModal" class="bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2"
                        (click)="closeModal()">Cancelar</button>
                    <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>